* {
  background: transparent;
  color: black;
  font-family: serif;
  font-size: 11pt;
}

@page {
  margin: 0.75in;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 27pt;
  text-align: center;
  margin-top: .10in;
  margin-bottom: .10in;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 15pt;
  border-bottom: 1pt solid black;
  margin-top: .15in;
  margin-bottom: .15in;
}

h3 {
  font-size: 12pt;
}

main, article {
  position: relative;
}

a:link, h2 {
  text-decoration: none;
}

nav {
  display: none;
}

footer, h1 {
  border: none;
}


a[href^="http"] {
    display: inline; }

    a[href^="http"]:after {
        content: " (" attr(href) ") ";
        }

address p {
  margin: 0;
  line-height: 1;
}
